<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="bg-gray-800 h-screen w-screen flex flex-col items-center">
    <div class="flex items-center justify-between m-2 mb-4 w-1/2">
        <h1 class="text-2xl text-white p-4"><%= title %></h1>
        <div class="flex items-center justify-center gap-2">
            <a href="/" class="bg-violet-500 px-4 py-2 text-white rounded-md hover:bg-violet-600">Go Back</a>
            <button id="delete" class="bg-red-600 px-4 py-2 text-white rounded-md hover:bg-red-700 cursor-pointer">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
    <div class="bg-gray-800 w-1/2 rounded-md drop-shadow-lg border border-violet-500 p-2">
        <form action="/item/update-item/<%= item.id %>" method="POST" class="flex flex-col p-4 gap-2 w-full">
            <label for="name" class="text-white font-semibold">Item Name <span class="text-red-700">*</span></label>
            <input type="text" id="name" name="name" placeholder="Item Name" value="<%= item.name %>" class="bg-white border border-gray-900 rounded-md p-2 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500" required>
            <label for="price" class="text-white font-semibold">Price <span class="text-red-700">*</span></label>
            <input type="text" id="price" name="price" placeholder="Price" value="<%= item.price %>" class="bg-white border-gray-900 rounded-md border p-2 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500" required>
            <label for="category" class="text-white font-semibold">Category <span class="text-red-700">*</span></label>
            <select name="category" id="category" class="bg-white border border-gray-900 rounded-md p-2 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500" required>
                <% for (let i = 0; i < categories.length; i++) { %>
                    <option value="<%= categories[i].name %>" <%= item.category_name === categories[i].name ? 'selected' : '' %>>
                        <%= categories[i].name %>
                    </option>
                <% } %>
            </select>
            <button type="submit" class="font-semibold text-md bg-violet-500 text-white p-2 rounded-md mt-4 hover:bg-violet-600 cursor-pointer">Update Item</button>
        </form>
    </div>
    <%- include('footer') %>
</body>
</html>